#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#header {
    background-color: #2c3e50;
    height: 5rem;
    flex-direction: column;
    color: white;
}

#headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
}

#centralDiv {
    display: flex;
    height: 100%;
}

#nav {
    height: 100%;
    background-color: #75818c;
    min-width: 10rem;
}

#navMenu {
    display: flex;
}

.navButton {
    height: 3rem;
    color: white;
    text-align: left;
    line-height: 3rem;
}

.navButton:hover {
    background-color: #0d6efd;
    cursor: pointer;
}

.navIcon {
    margin-left: 1rem;
    margin-right: 1rem;
}

#calendarDiv {
    display: flex;
    height: 100%;
    padding: 1rem;
}

#dashboardDiv {
    display: none;
    height: 100%;
    padding: 1rem;
}

#settingDiv {
    display: none;
    height: 100%;
    padding: 1rem;
}

#footer {
    background-color: #2c3e50;
    height: 5rem;
    text-align: center;
    color: white;
}

#footerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdownMenu {
    width: 100%;
    max-height: 15rem;
    overflow: auto;
    list-style: none;
    border: solid;
    border-width: 0.1rem;
    border-color: red;
}

#modal1-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#radioButton {
    display: flex;
    justify-content: center;
}

/*#lastRowModal {
    display: flex;
    justify-content: space-around;
}*/

#modal1-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#fieldEndSchedule {
    max-width: 7rem;
    min-width: 5rem;
}

#selectEndSchedule {
    max-width: 7rem;
    min-width: 5rem;
}*/

#scheduleButton {
    width: 10rem;
}